{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">{{ product.title }}</div>
            <div class="card-body">
                    <div class="mb-3">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
